{% extends "base.html" %}
{% block title %}
    {{ movie.title }} - Online Cinema
{% endblock %}

{% block content %}
    <a href="{% url 'home' %}" class="back-link">← До каталогу</a>


    <section class="movie-detail">
        <div class="movie-detail-poster">
            <img src="{{ movie.img_link }}" alt="{{ movie.title }}">
        </div>

        <div class="movie-detail-info">
            <h1>
                {{ movie.title }}
            </h1>

            <div class="movie-meta">
                <span>
                    📅 {{ movie.year }}
                </span>
                <span>
                    🎭 {{ movie.genre.name }}
                </span>
                <span>
                    ⏱ {{ movie.duration }} хв.
                </span>
            </div>

            <h2>Опис</h2>
            <p class="movie-description">
               {{ movie.description }}
            </p>

        </div>

        {% if user.is_authenticated %}
            {% if is_favorite %}
               <form method="POST" action="{% url 'toggle_favorite' movie.id %}">
                    {% csrf_token %}
                    <button type="submit" class="button button-favorite active">
                        ❤️ В обраному
                    </button>
                </form>
            {% else %}
                <form method="POST" action="{% url 'toggle_favorite' movie.id %}">
                    {% csrf_token %}
                    <button type="submit" class="button button-favorite">
                        🤍 Додати в обране
                    </button>
                </form>
            {% endif %}

            {% else %}
                <a href="{% url 'login' %}" class="button">🔑 Увійдіть, щоб додати в обране</a>
        {% endif %}
    </section>

    <section class="actors-section">
        <h2>🎭 Актори</h2>
        <div class="actors-list">
            {% for actor in movie.actors.all %}
                <div class="actor-card">
                    <strong>{{ actor.name }}</strong>
                </div>
            {% empty %}
                <p>
                    Інформації про акторів немає
                </p>
            {% endfor %}
        </div>
    </section>
{% endblock %}