{% extends "base.html" %}
{% block title %}
    Фільми - Online Cinema
{% endblock %}

{% block content %}
    <section class="page-header">
         <h1>Фільми</h1>

        <p>
            Знайди свій фільм
        </p>
    </section>


    <form method="GET">
            <input type="text" name="search" placeholder="Search movie..." value="{{ search }}">

            <select name="genre">
                <option value="">All genres</option>

                {% for genre in genres %}
                    <option value="{{ genre.name }}">
                        {% if selected_genre == genre.name %}
                            selected
                        {% endif %}
                        {{ genre.name }}
                    </option>
                {% endfor %}
            </select>

            <select name="sort">
                <option value="">Sort by</option>
                <option value="newest">
                    {% if selected_sort == "newest" %}
                        selected
                    {% endif %}
                    Newest
                </option>

                <option value="oldest">
                    {% if selected_sort == "oldest" %}
                        selected
                    {% endif %}
                    Oldest
                </option>

                <option value="shortest">
                    {% if selected_sort == "shortest" %}
                        selected
                    {% endif %}
                    Shortest
                </option>

                <option value="longest">
                    {% if selected_sort == "longest" %}
                        selected
                    {% endif %}
                    Longest
                </option>
            </select>

            <button type="submit">Search</button>
        </form>
    <section class="movie-grid">
            {% for movie in movies %}
                <a href="{% url 'movie_detail' movie.id %}" class="movie-card">
                    <img src="{{ movie.img_link }}" alt="{{ movie.title }}" class="movie-card-image">
                    <div class="movie-card-body">
                        <h2>
                            {{ movie.title }}
                        </h2>


                        <p>{{ movie.year }}</p>
                        <p>{{ movie.genre.name }}</p>
                        <p>{{ movie.duration }} min</p>
                    </div>
                </a>
            {% endfor %}
    </section>
{% endblock %}