{% extends "base.html" %}
{% block title %}
    {{ movie.title }} - Online Cinema
{% endblock %}

{% block content %}

    <section class="profile-header">
        <h1>
            👤 {{ user.username }}
        </h1>
        <p>
            {{ user.email }}
        </p>
    </section>

    <section class="profile-section">
        <h2>❤️ Мої улюблені фільми</h2>
        {% if favorites %}
            <div class="movie-grid">
                {% for favorite in favorites %}
                    <a href="{% url 'movie_detail' favorite.movie.id %}" class="movie-card">
                        <img src="{{ favorite.movie.img_link }}" alt="{{ favorite.movie.title }}" class="movie-card-image" width="120">
                        <div class="movie-card-body">
                            <h2>
                                {{ favorite.movie.title }}
                            </h2>
                             <p>
                                {{ favorite.movie.year }}
                            </p>
                        </div>
                    </a>
                {% endfor %}
            </div>

        {% else %}
            <div class="empty-state">
                <h3>
                    ❤️ Тут поки порожньо
                </h3>
                <p>
                    Ви ще не додали жодного фільму в обране
                </p>
                <a href="{% url 'home' %}" class="button">Перейти до фільмів</a>
            </div>

        {% endif %}

        <h2>👀 Історія переглядів</h2>

        {% if watch_history %}
            <div class="history-list">
                {% for item in watch_history %}
                    <div class="history-item">
                        <img src="{{ item.movie.img_link }}" alt="item.movie.title">
                        <div class="history-info">
                            <h3>
                                <a href="{% url 'movie_detail' item.movie.id %}">{{ item.movie.title }}</a>
                            </h3>
                            <p>
                                📅 {{ item.watched_at|date:"d.m.Y H:i" }}
                            </p>
                            <p>
                                ⏱ Переглянуто:
                                {{ item.watch_duration }} сек.
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
          {% else %}
            <div class="empty-state">
                <h3>
                    👀 Історія переглядів порожня
                </h3>
                <p>
                    Перегляньте який-небудь фільм
                </p>
                <a href="{% url 'home' %}" class="button">Перейти до фільмів</a>
            </div>

        {% endif %}

    </section>
{% endblock %}